@charset "UTF-8";
/* css 3.0 형태로 하여 출력하는 구성 */


.btn{
	width:100px;
	height:100px;
	background-color: black;
	color:white;
}

btn_orange{
	backgroudn-color: orange;
}


#mpass{ /* #: id이름으로 style을 적용한 상황 */
	background-color: skyblue;
	width:300px;
	height;30px;
}

#mpass{
	mpass_orange
}


